.carPage {
  display: grid;
  grid-template-columns: 1fr 1fr;

  border: solid 1px #000;
  border-radius: 15px;
  box-shadow: #ded2c6 15px 10px;

  width: 80%;
  margin: 20px auto;
  padding: 20px;
}

.carPhoto {
  position: relative;
  object-fit: contain;
  width: auto;
  height: 250px;
}

.carPhoto img {
  border-radius: 15px;

}

.carPage ul {
  margin: auto;
}

.carPage li {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 10px 0;
}
