.listOfCars {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 40px;

  width: 100%;
  padding: 10px;
}

.post {
  display: flex;
  align-items: center;
  width: 400px;
  margin: auto;
  padding: 20px;

  border: solid 1px #000;
  border-radius: 15px;
  box-shadow: #ded2c6 15px 10px, #bbb0a6 30px 20px;

  color: #000;
  text-decoration: none;
}

.post img {
  width: 250px;
  height: 180px;
  margin-right: 20px;
}

