.navigation {
  width: 100%;
  height: 75px;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 15px;
  border: solid 2px #000;
  box-shadow: #bbb0a6 30px 10px;
}

.navigation span {
  color: red;
}

.navigation a {
  display: flex;
  align-items: center;
  height: 40px;
  text-decoration: none;
  color: #000;
}

.navigation a:hover {
  border-bottom: solid 2px #bbb0a6;
  border-top: solid 2px #bbb0a6;
  color: #000;
}

.userLogIn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.userName {
  border-right: solid 2px;
  padding-right: 40px;
}
